body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
    margin: 20px;
}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 50px);
    gap: 6px;
    justify-content: center;
    margin-top: 20px;
}

.element {
    width: 50px;
    height: 50px;
    background: #222;
    border: 1px solid #555;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 6px;
}

.element:hover {
    background: #00ff99;
    color: black;
    transform: scale(1.1);
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
}

.hidden {
    display: none;
}

.modal-content {
    background: #222;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #00ff99;
}

#close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}
